# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env*
*.sqlite3

# Git
.git
.gitignore

# Docker
.dockerignore
Dockerfile
docker-compose.yml

# IDE
.vscode/
.idea/

# Documentation
README.md 